.container {
    width: 100%;
}
.container:after {
    content: '';
    display: block;
    clear: both;
    margin: 0;
}
.container #canvas {
    float: left;
    width: 80%;
}
.container #paenl {
    float: left;
    width: 20%;
}
#stencil {
  background:#FFFFFF; 
}