body {    
    margin: 0 !important;
    padding: 0 !important;
}
.container {
    width: 100%;
}
.container:after {
    content: '';
    display: block;
    clear: both;
    margin: 0;
}
.container #canvas {
    float: left;
    width: 80%;
}
.container #paenl {
    float: left;
    width: 20%;
}
.graph {
    float: left;
    width: 80%;
}
.widgets {
    float: left;
    width: 20%;
}
#canvas {
    width: 100%;
    height: 768px;
    cursor: grab;
}
#canvas g.joint-cell {
    cursor: all-scroll;
}
#stencil {
    width: 100%;
    height: 768px;
  background:#FFFFFF; 
}
md-tabs {
    transition: 0s !important;
}
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-1:not(.md-menu-toolbar) {
    background-color: rgb(1,74,182);
    color: rgba(255,255,255,0.87);
}
.sidebar {
    border: 1px solid #E3E3E3;
    border-top: none;
}