<div>
    <form ng-submit="$shared.saveWidget()">
        <div ng-cloak>
            <md-content>
                <md-tabs class="md-primary widget-options" md-center-tabs md-dynamic-height="true">
                    <md-tab label="info">
                        <md-content class="md-padding">
                            <md-input-container>
                                <label for="testInput">Widget Name</label>
                                <input type="text" ng-model="cellModel.name" md-autofocus>
                            </md-input-container>
                            <div layout="row">
                                <div flex="95">
                                    <md-input-container>
                                        <label for="testInput">
                                            Call Type
                                        </label>
                                        <md-select ng-change="changeCallType(cellModel.data.call_type)"
                                            ng-model="cellModel.data.call_type">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-value="type" ng-repeat="type in callTypes">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="5">
                                    <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="left">
                                            Choose how to bridge the call. <br />
                                            * Number this will call out to a phone number <br />
                                            * Extension this will call an extension on your account
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>

                            <div ng-show="cellModel.data.call_type === 'Phone Number'">
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Number To Call</label>
                                            <input type="text" ng-model="cellModel.data.number_to_call" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                The number to call. please use E164 format for number. e.g:<br />
                                                +12023034040
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Timeout</label>
                                            <input type="text" ng-model="cellModel.data.timeout" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                This lets you control how long you let the call ring until it is
                                                cancelled.
                                            </md-tooltip>
                                        </md-icon>
                                    </div>

                                </div>
                            </div>
                            <div ng-show="cellModel.data.call_type === 'Extension'">

                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Extension To Call</label>
                                            <md-select md-on-open="updateExtensions()"
                                                ng-change="changeExtension(cellModel.data.extension)"
                                                ng-model="cellModel.data.extension">
                                                <md-option><em>None</em></md-option>
                                                <md-option ng-value="extension"
                                                    ng-repeat="extension in $shared.extensions">
                                                    {{extension}}
                                                </md-option>
                                            </md-select>

                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                The extension to dial on your account.
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Timeout</label>
                                            <input type="text" ng-model="cellModel.data.timeout" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                This lets you control how long you let the call ring until it is
                                                cancelled.
                                            </md-tooltip>
                                        </md-icon>
                                    </div>

                                </div>
                            </div>
                            <div ng-show="cellModel.data.call_type === 'ExtensionFlow'">
                                <div layout="row">

                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Extension To Call</label>
                                            <md-select md-on-open="updateExtensions()"
                                                ng-change="changeExtension(cellModel.data.extension)"
                                                ng-model="cellModel.data.extension">
                                                <md-option><em>None</em></md-option>
                                                <md-option ng-value="extension"
                                                    ng-repeat="extension in $shared.extensions">
                                                    {{extension}}
                                                </md-option>
                                            </md-select>

                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                The extension to dial on your account.
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="cellModel.data.call_type === 'Follow Me'">
                                <div layout="row">

                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Numbers To Call</label>
                                            <textarea ng-model="cellModel.data.follow_me_numbers" rows="1" cols="50"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                The list of numbers to dial. separate each number by a new line. you can also use
                                                <br/>
                                                # as a prefix to dial out to the PSTN. examples:
                                                <br/><br/>
                                                1000 dials an extension<br/>
                                                #18002023030 dials a number
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="cellModel.data.call_type === 'Queue'">
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Queue Name</label>
                                            <input type="text" ng-model="cellModel.data.timeout" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                A unique identifier for the queue
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <md-select multiple ng-model="cellModel.data.queue_extensions"
                                                placeholder="Select Extensions">
                                                <md-option ng-repeat="extension in $shared.extensions"
                                                    value="{{extension}}">{{extension}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                A unique identifier for the queue
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>

                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Max Wait Time</label>
                                            <input type="text" ng-model="cellModel.data.max_wait_time" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                The max time to wait before leaving the queue
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Max Extension Timeout</label>
                                            <input type="text" ng-model="cellModel.data.max_extension_timeout"
                                                md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                How many seconds to let each extension ring before trying to call again
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Music On Hold URL</label>
                                            <input type="text" ng-model="cellModel.data.music_on_hold_url"
                                                md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">

                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                A MP3 or WAV file that will be used for the music on hold.
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>

                            </div>
                            <div layout="row" ng-show="cellModel.data.call_type !== 'ExtensionFlow'">
                                <div flex="95">
                                    <md-input-container>
                                        <label for="testInput">Caller ID</label>
                                        <input type="text" ng-model="cellModel.data.caller_id" md-autofocus>
                                    </md-input-container>
                                </div>
                                <div flex="5">
                                    <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="left">
                                            The Caller ID to use for the call. You can specify the number or the
                                            name and number. examples:<br />
                                            +12023034040<br />
                                            John Doe &lt;+12023034040&gt;
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                </div>

                            <div ng-show="cellModel.data.call_type === 'Merge Calls'">
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Extra Call IDs</label>
                                            <input type="text" ng-model="cellModel.data.extra_calls" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="left">
                                                Add extra call legs to the bridge. Note: separate each call ID with comma. For example: c-123, c789
                                            </md-tooltip>
                                        </md-icon>
                                    </div>

                                </div>

                            </div>
        <div layout="row">
            <div flex="95">
                <md-checkbox id="recordInput" ng-model="cellModel.data.do_record" aria-label="Checkbox 1">
                    Do Record
                </md-checkbox>
            </div>
            <div flex="5">
            </div>
        </div>
        </md-content>
        </md-tab>
        </md-tabs>
        </md-content>
</div>
<div ng-include="'/templates/widget_buttons.html'"></div>
</form>
</div>
