<div>
    <form ng-submit="$shared.saveWidget()">
        <div ng-cloak>
            <md-content>
                <md-tabs class="md-primary widget-options" md-center-tabs md-dynamic-height="true">
                    <md-tab label="info">
                        <md-content class="md-padding">
                                <md-input-container>
                                    <label for="testInput">Widget Name</label>
                                    <input type="text" ng-model="cellModel.name" md-autofocus>
                                </md-input-container>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Playback Type</label>
                                            <md-select ng-change="changePlaybackType(cellModel.data.playback_type)" ng-model="cellModel.data.playback_type">
                                                <md-option><em>None</em></md-option>
                                                <md-option ng-value="type" ng-repeat="type in playbackTypes">
                                                {{type}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            This lets you choose which kind of playback you want to use.<br/>
                                            * Say<br/>
                                            use speech to text to render media. Choose from one of many voice options and locales<br/>
                                            * Play<br/>
                                            playback a supported media file from a URL. This option currently supports file formats (wav, mp3).
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                                </div>
                                <div ng-show="cellModel.data.playback_type==='Say'">
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Text To Say</label>
                                            <input type="text" ng-model="cellModel.data.text_to_say" md-autofocus>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The text to use in text to speech
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label>Language</label>
                                            <md-select ng-model="cellModel.data.text_language" ng-change="changeTextLanguage(cellModel.data.text_language)">
                                                <md-option ng-repeat="language in $shared.voiceLangs" ng-value="language">
                                                {{language}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The language locale your speech-to-text should be based on. 
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label>Gender</label>
                                            <md-select ng-model="cellModel.data.text_gender" ng-change="changeTextGender(cellModel.data.text_gender)">
                                                <md-option ng-repeat="gender in $shared.voiceGenders" ng-value="gender">
                                                {{gender}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The gender of the speech to text voice.<br/>
                                            * note: each gender has multiple voices
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label>Voice</label>
                                            <md-select ng-model="cellModel.data.voice" ng-change="changeVoice(cellModel.data.voice)">
                                                <md-option ng-repeat="voice in $shared.getVoices()" ng-value="voice">
                                                {{voice}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The voice used to playback the speech to text.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Number Of Loops</label>
                                            <input type="text" ng-model="cellModel.data.number_of_loops" md-autofocus>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The number of times your speech should be played back.<br/>
                                            * note: using 0 will cause your speech to be played recursively.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                                </div>
                                <div ng-show="cellModel.data.playback_type==='Play'">
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">URL of audio file</label>
                                            <input type="text" ng-model="cellModel.data.url_audio" md-autofocus>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The full URL to your media file<br/>
                                            * note: media files should be accessible by the public internet and use one of the supported file formats: MP3, or wav.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                                </div>
                                <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Stop Timeout</label>
                                            <input type="text" ng-model="cellModel.data.stop_timeout" md-autofocus>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            This lets you control how long to wait to gather input.<br/>
                                            * note: this is ideal to use when you don't use a terminating digit in your gather. It is best to<br/>
                                            use this option when you do not know how many digits you will receive as input.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>

                            <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Max Digits</label>
                                            <input type="text" ng-model="cellModel.data.max_digits" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The maximum amount of digits before gather input will stop.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                                <div layout="row">
                                    <div flex="95">
                                <md-input-container>
                                    <md-checkbox ng-model="cellModel.data.stop_gather_on_keypress" aria-label="Checkbox 1">
                                        Stop gather on keypress
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                                        <div flex="5">
                                </div>
                            </div>
                                <div layout="row" ng-show="cellModel.data.stop_gather_on_keypress">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Keypress Key Stop</label>
                                            <input type="text" ng-model="cellModel.data.keypress_key_stop" md-autofocus>
                                        </md-input-container>
                                    </div>
                                    <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="top">
                                            The terminating digit for the gather.<br/>
                                            * note: when the terminating digit is pressed by the user it will cancel any keypress timeout you have.
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div ng-include="'/templates/widget_buttons.html'"></div>
    </form>
</div>
