<div>
    <form ng-submit="$shared.saveWidget()">
        <div ng-cloak>
            <md-content>
                <md-tabs class="md-primary widget-options" md-center-tabs md-dynamic-height="true">
                    <md-tab label="info">
                        <md-content class="md-padding">
                            <md-input-container>
                                <label for="testInput">Widget Name</label>
                                <input type="text" ng-model="cellModel.name" md-autofocus>
                            </md-input-container>
                            <div layout="row">
                                <div flex="95">
                                    <md-input-container>
                                        <label for="testInput">Websocket URL</label>
                                        <input type="text" ng-model="cellModel.data.websocket_url" md-autofocus>
                                    </md-input-container>
                                </div>
                                <div flex="5">
                                    <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="left">
                                            The Websocket server to stream audio out to. e.g:<br/>
                                            For non SSL servers<br/>
                                            ws://example.org/audio<br/><br/>
                                            Stream with TLS support:<br/>
                                            wss://example.org/audio
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                            <div layout="row">
                                    <div flex="95">
                                        <md-input-container>
                                            <label for="testInput">Direction</label>
                                            <md-select ng-change="changeStreamDirection(cellModel.data.stream_direction)" ng-model="cellModel.data.stream_direction">
                                                <md-option><em>None</em></md-option>
                                                <md-option ng-value="direction" ng-repeat="direction in audioStreamDirections">
                                                {{direction}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                        <div flex="5">
                                      <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-information"></i>
                                        <md-tooltip class="helper-tooltip" md-direction="left">
                                            This lets you choose which kind of playback you want to use.<br/>
                                            * Say<br/>
                                            use speech to text to render media. Choose from one of many voice options and locales<br/>
                                            * Play<br/>
                                            playback a supported media file from a URL. This option currently supports file formats (wav, mp3).
                                        </md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="95">
                                    <md-checkbox id="beepInput" ng-model="cellModel.data.play_beep"
                                        aria-label="Checkbox 1">
                                        Play beep
                                    </md-checkbox>
                                </div>
                                <div flex="5">
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div ng-include="'/templates/widget_buttons.html'"></div>
    </form>
</div>